body {
    background-color: #F0F2F5;
}

.detail_box {
    width: 100%;
    height: 100%;
}

.detail_box .banner_box {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
}

.banner_box .banner_child_box {
    width: 1000%;
    height: 375px;
    position: relative;
    left: 0;
    top: 47px;
    margin-bottom: 50px;
}

.banner_box .banner_item {
    visibility: visible;
    float: left;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background-color: #fff;
    background-size: 100% 100%;
    transition: all 0ms ease;
    height: 375px;
    width: 375px;
    transform: translate3d(0px, 0px, 0px);
    z-index: 10;
}

.banner_box .banner_item .banner_pic {
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow: hidden
}

.banner_box .banner_count {
    font-size: 16px;
    z-index: 11;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
    right: 14px;
    bottom: 14px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}

.banner_count em {
    font-style: normal;
    color: #fff;
}

.banner_count .fz18 {
    font-size: 14px;
    display: inline-block;
    color: #fff;
    margin-right: -3px;
}

.banner_count .fz12 {
    font-size: 12px;
    display: inline-block;
    color: #fff;
    margin-left: -3px;
}

.banner_count .nub-bg {
    display: inline-block;
    color: #fff;
    font-size: 12px;
}

.product_info {
    width: 100%;
    height: 248px;
    background-color: #fff;
}


 .product_color_size {
    
    height: 48px;
    background-color: #FFF;
    line-height: 48px;
    padding: 0 30px 0 10px;
    color: #051b28;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

/* --------------------------------------------------------------------商品名称 start------------------------------------------------------------------------- */

.p_name {
    font-size: 14px;
    color: #051B28;
    line-height: 20px;
    padding: 0 13px 0 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    height: 42px;
    overflow: hidden;
    word-break: break-all;
}
/* --------------------------------------------------------------------商品名称 end------------------------------------------------------------------------- */
/* --------------------------------------------------------------------商品价格start------------------------------------------------------------------------- */
.product_one {
    margin-top: 1px;
}
.product_pric {
    margin-top: 10px;
    padding: 0 30px 0 10px;
    position: absolute;
    left: 6px;
}
.product_serve_left {
    float: right;
    margin-left: -8px;
    left: 10px;
}
.product_pric span {
    color: #F23434;
}

.product_pric span:nth-child(1) {
    font-size: 16px;
}

.product_pric span:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    margin: 0 -3px;
}
.product_right {
    float: right;
    border: 1px solid #bfbfbf;
    border-radius: 11px;
    text-align: center;
    line-height: 14px;
    padding: 10px 14px;
    position: absolute;
    right: 10px;
}
.product_serve_right {
    float: right;
    right: 10px;
}
/* --------------------------------------------------------------------商品价格 end------------------------------------------------------------------------- */
/* --------------------------------------------------------------------评价start------------------------------------------------------------------------- */

section.group-warp {
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: #FFF;
}
.product_pj {
    
    height: 48px;
    background-color: #FFF;
    line-height: 48px;
    padding: 0 30px 0 10px;
    color: #aaa;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
ul.product_yx-ul {
    list-style-type: none;
    padding: 0;
    margin: 2px 5px;
    overflow: hidden;
}
ul.product_yx-ul li {
    float: left;
    background-color: #FEE;
    color: #666;
    margin: 6px 3px;
    padding: 6px 9px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 12px;
}

.user_info {
    font-size: 16px;
}

.user_info span img{
    width: 21px;
    border-radius: 100%;
    vertical-align: bottom;
    margin-left: 7px;
}

/* --------------------------------------------------------------------评价   end------------------------------------------------------------------------ */
/* --------------------------------------------------------------------快递   start------------------------------------------------------------------------ */


.product_two {
    margin-top: 50px;
    font-size: 12px;
    color: #BFBFBF
}
 .product_sales {
    margin-top: 10px;
    position: absolute;
    left: 175px;
}
 .product_yf {
    float: right;
    text-align: center;
    line-height: 14px;
    padding: 10px  14px;
    position: absolute;
    right: 10px;
}
/* --------------------------------------------------------------------快递   end------------------------------------------------------------------------ */


/* --------------------------------------------------------------------7天无理由 start------------------------------------------------------------------------ */
.product_stree {
    margin-top: 84px;
    font-size: 12px;
    color: #828080
}
.product_stree ul  {
    float: left;
    color: rgb(191, 191, 191);
    text-align: left;
    font-size: 12px;
    margin: 6px -17px;
    padding: 6px 17px;
}
.product_stree ul li {
    float: left;
    color: #bfbfbf;
    margin: 6px -4px;
    padding: 6px 17px;
    text-align: left;
    -moz-border-radius: 10px;
    font-size: 12px;
}
/* --------------------------------------------------------------------7天无理由 end------------------------------------------------------------------------ */

/* --------------------------------------------------------------------华丽的分割线 start------------------------------------------------------------------------ */

.product_four {
    margin-top: 138px;
    border: 1px solid #f1f1f1;
    width: 100%;
    height: 1px;
    /* left: 1px; */
    margin-right: 10px;
}
/* --------------------------------------------------------------------华丽的分割线 end------------------------------------------------------------------------ */
/* --------------------------------------------------------------------优惠券 start------------------------------------------------------------------------ */

.product_five {
    margin-top: 10px;
}
.product_youhui {
    image-rendering: 1px;
    padding: 0 30px 0 10px;
    line-height: 27px;
    size: 25px;
    font-size: 15px;
    color: #e00303a8;
    font-family: fantasy;
    font-weight: normal;
}
.product_right.product_yh_lq {
    margin-top: -44px;
    background-color: #0000;
}
/* --------------------------------------------------------------------优惠券 end------------------------------------------------------------------------ */
/* --------------------------------------------------------------------颜色尺码 start------------------------------------------------------------------------ */
.product_color_size span {
    content: '\e606';
    font-family: tm-detail-font;
    font-size: 18px;
    color: #B5B5B5;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -18px;
    margin-right: 10px;
    line-height: normal;
}

/* --------------------------------------------------------------------颜色尺码 end------------------------------------------------------------------------ */



.product_serve_content {
    float: right;
    content: 10px;
}

.product_intro .pro_det {
    font-size: 16px;
    font-weight: 500;
    color: #48484B;
    line-height: 20px;
}

.cart_d_footer {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.cart_d_footer .m {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.m .m_box {
    width: 50%;
}

.m .m_item {
    display: inline-flex;
    height: 100%;
    padding: 6px 0;
    text-align: center;
    width: 100%;
}

.m_item .m_item_link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.m_item_link .m_item_pic {
    display: block;
    width: 21px;
    height: 23px;
    background: url("../images/cart_sprits_all.png") no-repeat top center;
    background-size: 100px 100px;
    margin: 6px auto 0;
}

.m_item_link .m_item_pic {
    background-position: -26px 0;
}

.m_item_link .two {
    background-position: -52px 0;
}

.m_item_link .three {
    background-position: 0 -20px;
}

.m .btn_box {
    width: 50%;
    height: 100%;
    float: right;
}

.btn_box a {
    display: inline-block;
    width: 50%;
    height: 60px;
    text-align: center;
    color: #fff;
    line-height: 60px;
}

.btn_box .buy_now {
    float: left;
    background-color: #FFB03F;
}

.btn_box .buybuy {
    float: right;
    background-color: #F23030;
}
