body {
    background-color: #F0F2F5;
}

.detail_box {
    width: 100%;
    height: 100%;
}


.banner_box .banner_child_box {
    width: 1000%;
    height: 375px;
    position: relative;
    left: 0;
    top: 47px;
    margin-bottom: 50px;
}

.banner_box .banner_item {
    visibility: visible;
    float: left;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background-color: #fff;
    background-size: 100% 100%;
    transition: all 0ms ease;
    height: 375px;
    width: 375px;
    transform: translate3d(0px, 0px, 0px);
    z-index: 10;
}

.banner_box .banner_item .banner_pic {
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow: hidden
}

.banner_box .banner_count {
    font-size: 16px;
    z-index: 11;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
    right: 14px;
    bottom: 14px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}

.banner_count em {
    font-style: normal;
    color: #fff;
}

.banner_count .fz18 {
    font-size: 14px;
    display: inline-block;
    color: #fff;
    margin-right: -3px;
}

.banner_count .fz12 {
    font-size: 12px;
    display: inline-block;
    color: #fff;
    margin-left: -3px;
}

.banner_count .nub-bg {
    display: inline-block;
    color: #fff;
    font-size: 12px;
}

.product_info {
    width: 100%;
    height: 248px;
    background-color: #fff;
}


 .product_color_size {
    
    height: 48px;
    background-color: #FFF;
    line-height: 48px;
    padding: 0 30px 0 10px;
    color: #051b28;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

/* --------------------------------------------------------------------商品名称 start------------------------------------------------------------------------- */

.p_name {
    font-size: 14px;
    color: #051B28;
    line-height: 20px;
    padding: 0 13px 0 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    height: 42px;
    overflow: hidden;
    word-break: break-all;
}
/* --------------------------------------------------------------------商品名称 end------------------------------------------------------------------------- */
/* --------------------------------------------------------------------商品价格start------------------------------------------------------------------------- */
.product_one {
    margin-top: 1px;
}
.product_pric {
    margin-top: 10px;
    padding: 0 30px 0 10px;
    position: absolute;
    left: 6px;
}
.product_serve_left {
    float: right;
    margin-left: -8px;
    left: 10px;
}
.product_pric span {
    color: #F23434;
}

.product_pric span:nth-child(1) {
    font-size: 16px;
}

.product_pric span:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    margin: 0 -3px;
}
.product_right {
    float: right;
    border: 1px solid #bfbfbf;
    border-radius: 11px;
    text-align: center;
    line-height: 14px;
    padding: 10px 14px;
    position: absolute;
    right: 10px;
}
.product_serve_right {
    float: right;
    right: 10px;
}
/* --------------------------------------------------------------------商品价格 end------------------------------------------------------------------------- */
/* --------------------------------------------------------------------评价start------------------------------------------------------------------------- */

section.group-warp {
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: #FFF;
}
.product_pj {
    
    height: 48px;
    background-color: #FFF;
    line-height: 48px;
    padding: 0 30px 0 10px;
    color: #aaa;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
ul.product_yx-ul {
    list-style-type: none;
    padding: 0;
    margin: 2px 5px;
    overflow: hidden;
}
ul.product_yx-ul li {
    float: left;
    background-color: #FEE;
    color: #666;
    margin: 6px 3px;
    padding: 6px 9px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 12px;
}

.product_user_evaluate{
    margin-left: 7px;
}
.product_user_evaluate li{
    margin-top: 10px;
}
.product_user_evaluate .user_info {
    font-size: 16px;
}
.product_user_evaluate .user_info span img{
    width: 25px;
    border-radius: 100%;
    vertical-align: bottom;
    /*margin-left: 7px;*/
}
.product_user_evaluate .evaluate_info_list {
    margin-top: 10px;
}

 .evaluate_info_list .evaluate-info{
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     padding: 0 19px 3px 0px;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
}
 .evaluate_info_list .evaluate-sku-info{
     color: #999;
}





/* --------------------------------------------------------------------评价   end------------------------------------------------------------------------ */
/* --------------------------------------------------------------------快递   start------------------------------------------------------------------------ */


.product_two {
    margin-top: 50px;
    font-size: 12px;
    color: #BFBFBF
}
 .product_sales {
    margin-top: 10px;
    position: absolute;
    left: 175px;
}
 .product_yf {
    float: right;
    text-align: center;
    line-height: 14px;
    padding: 10px  14px;
    position: absolute;
    right: 10px;
}
 .button_info div {
     display: block;
     padding: 12px 0px 8px 0px;
     text-align: center;
     position: relative;
     border: none;
 }
.button_info div span{
        display: inline-block;
        font-size: 17px;
        color: rgb(91, 146, 225);
        padding: 0.1rem 0.3rem;
        border-width: 0.5px;
        border-style: solid;
        border-color: rgb(91, 146, 225);
        border-image: initial;
        border-radius: 8px;
        letter-spacing: 3px;
 }
/* --------------------------------------------------------------------快递   end------------------------------------------------------------------------ */
/* --------------------------------------------------------------------商品详情   start------------------------------------------------------------------------ */

.product_detail img{
    width: 100%;
    float: none;
}

/* --------------------------------------------------------------------商品详情   end------------------------------------------------------------------------ */
/* --------------------------------------------------------------------common   start------------------------------------------------------------------------ */
.button_info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* --------------------------------------------------------------------common   end------------------------------------------------------------------------ */


/* --------------------------------------------------------------------7天无理由 start------------------------------------------------------------------------ */
.product_stree {
    margin-top: 84px;
    font-size: 12px;
    color: #828080
}
.product_stree ul  {
    float: left;
    color: rgb(191, 191, 191);
    text-align: left;
    font-size: 12px;
    margin: 6px -17px;
    padding: 6px 17px;
}
.product_stree ul li {
    float: left;
    color: #bfbfbf;
    margin: 6px -4px;
    padding: 6px 17px;
    text-align: left;
    -moz-border-radius: 10px;
    font-size: 12px;
}
/* --------------------------------------------------------------------7天无理由 end------------------------------------------------------------------------ */

/* --------------------------------------------------------------------华丽的分割线 start------------------------------------------------------------------------ */

.product_four {
    margin-top: 138px;
    border: 1px solid #f1f1f1;
    width: 100%;
    height: 1px;
    /* left: 1px; */
    margin-right: 10px;
}
/* --------------------------------------------------------------------华丽的分割线 end------------------------------------------------------------------------ */
/* --------------------------------------------------------------------优惠券 start------------------------------------------------------------------------ */

.product_five {
    margin-top: 10px;
}
.product_youhui {
    image-rendering: 1px;
    padding: 0 30px 0 10px;
    line-height: 27px;
    size: 25px;
    font-size: 15px;
    color: #e00303a8;
    font-family: fantasy;
    font-weight: normal;
}
.product_right.product_yh_lq {
    margin-top: -44px;
    background-color: #0000;
}
/* --------------------------------------------------------------------优惠券 end------------------------------------------------------------------------ */
/* --------------------------------------------------------------------颜色尺码 start------------------------------------------------------------------------ */
.product_color_size span {
    content: '\e606';
    font-family: tm-detail-font;
    font-size: 18px;
    color: #B5B5B5;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -18px;
    margin-right: 10px;
    line-height: normal;
}

/* --------------------------------------------------------------------颜色尺码 end------------------------------------------------------------------------ */


/*---------------------------------------------------------------------饿了么 UI 弹框--------------------------------------------------------*/
.mint-popup-bottom {
    width: 100%;
    max-width: 100%;
    height: 525px;
}
.spec-menu-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top: 1px solid #dadada;
    z-index: 250;
    display: none;
}
a.rt-close-btn-wrap.spec-menu-close img {
    width: 19px;
    /* right: 1px; */
    float: right;
    margin-top: 10px;
    margin-right: 11px;
}
.spec-first-pic {
    position: absolute;
    left: 8px;
    top: -26px;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border: 1px solid #f0f1f3;
    background-color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.spec-price {
    font-size: 16px;
    line-height: 15px;
    color: #f23030;
    padding-top: 42px;
    padding-left: 121px;
    font-weight: 700;
}
.spec-first-pic img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.spec-weight {
    font-size: 11px;
    line-height: 11px;
    color: #81838e;
    padding-top: 8px;
    padding-left: 121px;
}
.spec-menu-middle {
    position: absolute;
    bottom: 43px;
    top: 85px;
    left: 0;
    right: 0;
    padding-left: 10px;
    overflow: auto;
}

.loc-serv-note, .prod-coupon, .prod-spec {
    height: auto;
    padding-top: 15px;
    font-size: 0;
    padding-bottom: 15px;
}
.pro-color, .pro-count, .pro-size, .pro-spec, .spec-desc {
    font-size: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;
}

.quantity-wrapper {
    display: inline-block;
    height: 26px;
    border-radius: 5px;
    margin-right: 21px;
    float: right;
    line-height: 26px;
}

.quantity, .quantity-decrease, .quantity-increase {
    float: left;
    font-size: 15px;
    text-align: center;
}
.quantity-decrease.limited em {
    background-position: -45px -85px;
}
.quantity {
    color: #232326;
    border: solid #cbcbcb;
    border-width: 1px 0 1px 0;
    height: 24px;
    line-height: 24px;
    width: 34px;
    border-radius: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
}
.quantity-decrease em {
    /*background: url(../images/5.4/product-detail-sprites-mjs.png?v=1) no-repeat;*/
    background-size: 100px 100px;
    background-position: -32px -85px;
    height: 12px;
    width: 12px;
    display: block;
    margin: 6px;
}
.base-txt {
    margin-left: 34px;
    font-size: 13px;
    color: #252525;
    line-height: 15px;
}
.quantity-increase em {
    /*background: url(../images/5.4/product-detail-sprites-mjs.png?v=1) no-repeat;*/
    background-position: -32px -67px;
    background-size: 100px 100px;
    height: 12px;
    width: 12px;
    display: block;
    margin: 6px;
}
.quantity-decrease, .quantity-increase {
    background: #fff;
    border: 1px solid #cbcbcb;
    color: #232326;
    display: block;
    height: 24px;
    line-height: 24px;
    width: 26px;
    overflow: hidden;
    text-indent: -200px;
    box-sizing: border-box;
}
.spec-menu-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.spec-compont-btn{
    float: right;
    display: inline-flex;
}
p.btn-minus.off {
    width: 19px;
    cursor: pointer;
    background: #f1f1f1;
}
a.btn.minus {
    display: block;
    height: .8rem;
    position: relative;
}

.flick-menu-btn {
    width: 100%;
    font-size: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.spec-menu-btn a {
    display: block;
    height: 43px;
    width: 1%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 15px;
    line-height: 43px;
    color: #fff;
    text-align: center;
}
.yellow-color {
    background-color: #ffb03f;
}
.red-color {
    background-color: #f23030;
}

a.a-item.selected.J_ping {
    height: 27px;
    /* border: 1px solid #bfbfbf; */
    border-radius: 4px;
    line-height: 25px;
    font-size: 13px;
    /* color: #232326; */
    float: left;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 69px;
    max-width: 98%;
    box-sizing: border-box;
    text-align: center;
}
a.a-item.J_ping {
    height: 27px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    line-height: 25px;
    font-size: 13px;
    color: #232326;
    float: left;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 69px;
    max-width: 98%;
    box-sizing: border-box;
    text-align: center;
}
.pro-buy-style p a.selected, .pro-color p a.selected, .pro-size p a.selected, .pro-spec p a.selected {
    border: 1px solid #f23030;
    color: #f23030;
}

.pro-color div, .pro-size div {
    display: flex;
    margin-bottom: 8px;
}
div .pro-color a, .pro-size a {
    margin-top: 0px;
    margin-left: 20px;
}
.msg-notice .part-note-msg, .prod-spec .part-note-msg, .provide-srv .part-note-msg, .send-to .part-note-msg {
    float: left;
}
/**饿了么 UI 弹框 end--------------------------------------*/

.product_serve_content {
    float: right;
    content: 10px;
}
.part-note-msg {
    display: inline-block;
    line-height: 15px;
    font-size: 13px;
    color: #81838e;
    width: 26px;
    white-space: normal;
    height: auto;
}
.product_intro .pro_det {
    font-size: 16px;
    font-weight: 500;
    color: #48484B;
    line-height: 20px;
}

.cart_d_footer {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.cart_d_footer .m {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.m .m_box {
    width: 50%;
}

.m .m_item {
    display: inline-flex;
    height: 100%;
    padding: 6px 0;
    text-align: center;
    width: 100%;
}

.m_item .m_item_link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.m_item_link .m_item_pic {
    display: block;
    width: 21px;
    height: 23px;
    background: url("../images/cart_sprits_all.png") no-repeat top center;
    background-size: 100px 100px;
    margin: 6px auto 0;
}

.m_item_link .m_item_pic {
    background-position: -26px 0;
}

.m_item_link .two {
    background-position: -52px 0;
}

.m_item_link .three {
    background-position: 0 -20px;
}

.m .btn_box {
    width: 50%;
    height: 100%;
    float: right;
}

.btn_box a {
    display: inline-block;
    width: 50%;
    height: 60px;
    text-align: center;
    color: #fff;
    line-height: 60px;
}

.btn_box .buy_now {
    float: left;
    background-color: #FFB03F;
}

.btn_box .buybuy {
    float: right;
    background-color: #F23030;
}
